/* import some kinda Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* * means select all elements to style like this; it's a CSS selector */
/* https://www.w3schools.com/cssref/css_selectors.php */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif ;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* the element should occupy 100% of the web browser viewport height */
  background: #5EAEEC; /* love u Silva */
} /* an element that wraps everything else on the page  */
.wrapper{
  width: 450px;
  background: #AB8ED8; /* heh. */
  border-radius: 10px; /* the neat rounding effect */
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .current-date{
  font-size: 1.45rem; /* rem units = root em = font size of root element -> 1rem = font size of html element -> usually 16px */
  font-weight: 500;
}
header .icons span{
  height: 38px;
  width: 38px;
  color: #140099;
  font-size: 1.9rem;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  background-color: #d3b9fb;
}
header .icons span:hover{
  background: #a97fe7;
}
/* it seems this made them hoverable/"clickable"*/
header .icons span:last-child{
  margin-right: -10px;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar .weeks li{
  font-weight: 500; /*bolder font*/
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar .days li{
  z-index: 1; /* part of magic why text is visible on top of the hover circle */
  cursor: pointer;
  margin-top: 30px;
}
.calendar li.inactive{
  color: rgb(200, 198, 198)
}
.calendar li.active{
  color: #fff;
}
.calendar ul li{
  position: relative;
  width: calc(100% / 7); /* THE FUCKIN MAGIC YOOOOO; divide by 7 for 7 days*/

}
.calendar .days li::before{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%; 
  z-index: -1; /* part of magic why text is visible on top of the hover circle */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li:hover::before{
  background: #d3b9fb;
}
.days li.active::before{
  background: #140099;
}
/* the only reason this comment exist is because Git is a fucking asshole */